.homepage {
  height: 100vh; //vh - viewport height
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  strong {
    color: #61dbfb;
  }

  strong:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
